<div class="absolute top-0 left-0 right-0 bottom-0 p-5 bg-[#f4f4f4]">
    <div class="flex items-center justify-between text-xl">
        <h2>Add Tag:</h2>
        <button onclick="return closeModel()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <form
        method="post"
        action="/insertTag"
        class="flex flex-col justify-between h-[95%]"
    >
        <div>
            <div class="mt-5">
                <label
                    for="tag-name"
                    class="block text-sm font-medium leading-6 text-gray-600 mb-2"
                    >Enter Tag Name:</label
                >
                <input
                    type="text"
                    name="tagName"
                    id="tag-name"
                    class="block w-[-webkit-fill-available] rounded-md border-0 outline-none shadow-sm ml-3 py-1.5 pl-3 pr-10 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                    placeholder="e.g. Personal"
                    required
                />
            </div>
        </div>
        <div class="mt-5">
            <input
                type="submit"
                class="w-full cursor-pointer bg-[#ffd43b] text-black font-semibold py-2 px-4 rounded"
                value="Submit"
            />
        </div>
    </form>
</div>
