<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="flex justify-center items-center absolute top-0 left-0 right-0 bottom-0 lg:w-[600px] mx-auto h-screen p-5"
    >
      <div
        class="border w-full h-full rounded-lg p-2 md:px-[100px] md:py-[150px] flex flex-col justify-center"
      >
        <h2 class="text-4xl font-bold mb-5">Change Password</h2>
        <form method="post" action="/changePass">
          <input
            type="password"
            name="password"
            class="w-full rounded-md outline-none shadow-sm border pl-2 py-2 sm:text-sm sm:leading-6 font-medium"
            placeholder="Enter Password"
          />
          <input
            type="password"
            name="c_pass"
            class="w-full rounded-md outline-none shadow-sm border pl-2 py-2 sm:text-sm sm:leading-6 font-medium mt-3"
            placeholder="Re-enter Password"
          />
          <button
            type="submit"
            class="w-full cursor-pointer bg-[#ffd43b] text-black font-semibold py-2 px-4 rounded mt-5"
          >
            Change Password
          </button>
        </form>
      </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
